p{
   color:white;
   font-size: 12px;
   margin-left: 450px;
    }
img{
    height: 300px;
    margin-left: 450px;
    margin-bottom: 30px
}
h1{
    color:white;
    font-size: 24px;
    margin-left: 450px;
     }
a{
    color: white;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}